
/* 栅格布局 */

.iui-container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.iui-fluid {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.iui-row:before,
.iui-row:after {
    content: '';
    display: block;
    clear: both;
}
.iui-col-xxs1,.iui-col-xxs2,.iui-col-xxs3,.iui-col-xxs4,.iui-col-xxs5,.iui-col-xxs6,.iui-col-xxs7,.iui-col-xxs8,.iui-col-xxs9,.iui-col-xxs10,.iui-col-xxs11,.iui-col-xxs12,
.iui-col-xs1,.iui-col-xs2,.iui-col-xs3,.iui-col-xs4,.iui-col-xs5,.iui-col-xs6,.iui-col-xs7,.iui-col-xs8,.iui-col-xs9,.iui-col-xs10,.iui-col-xs11,.iui-col-xs12,
.iui-col-sm1,.iui-col-sm2,.iui-col-sm3,.iui-col-sm4,.iui-col-sm5,.iui-col-sm6,.iui-col-sm7,.iui-col-sm8,.iui-col-sm9,.iui-col-sm10,.iui-col-sm11,.iui-col-sm12,
.iui-col-md1,.iui-col-md2,.iui-col-md3,.iui-col-md4,.iui-col-md5,.iui-col-md6,.iui-col-md7,.iui-col-md8,.iui-col-md9,.iui-col-md10,.iui-col-md11,.iui-col-md12,
.iui-col-lg1,.iui-col-lg2,.iui-col-lg3,.iui-col-lg4,.iui-col-lg5,.iui-col-lg6,.iui-col-lg7,.iui-col-lg8,.iui-col-lg9,.iui-col-lg10,.iui-col-lg11,.iui-col-lg12 {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.iui-col-xxs1,.iui-col-xxs2,.iui-col-xxs3,.iui-col-xxs4,.iui-col-xxs5,.iui-col-xxs6,.iui-col-xxs7,.iui-col-xxs8,.iui-col-xxs9,.iui-col-xxs10,.iui-col-xxs11,.iui-col-xxs12 {
    float: left;
}

.iui-col-xxs1 {
    width: 8.33333333%;
}

.iui-col-xxs2 {
    width: 16.66666667%;
}

.iui-col-xxs3 {
    width: 25%;
}

.iui-col-xxs4 {
    width: 33.33333333%;
}

.iui-col-xxs5 {
    width: 41.66666667%;
}

.iui-col-xxs6 {
    width: 50%;
}

.iui-col-xxs7 {
    width: 58.33333333%;
}

.iui-col-xxs8 {
    width: 66.66666667%;
}

.iui-col-xxs9 {
    width: 75%;
}

.iui-col-xxs10 {
    width: 83.33333333%;
}

.iui-col-xxs11 {
    width: 91.66666667%;
}

.iui-col-xxs12 {
    width: 100%;
}

.iui-col-xxs-offset1 {
    margin-left: 8.33333333%;
}

.iui-col-xxs-offset2 {
    margin-left: 16.66666667%;
}

.iui-col-xxs-offset3 {
    margin-left: 25%;
}

.iui-col-xxs-offset4 {
    margin-left: 33.33333333%;
}

.iui-col-xxs-offset5 {
    margin-left: 41.66666667%;
}

.iui-col-xxs-offset6 {
    margin-left: 50%;
}

.iui-col-xxs-offset7 {
    margin-left: 58.33333333%;
}

.iui-col-xxs-offset8 {
    margin-left: 66.66666667%;
}

.iui-col-xxs-offset9 {
    margin-left: 75%;
}

.iui-col-xxs-offset10 {
    margin-left: 83.33333333%;
}

.iui-col-xxs-offset11 {
    margin-left: 91.66666667%;
}

.iui-col-xxs-offset12 {
    margin-left: 100%;
}


/* 超小屏幕(小屏幕手机) */

@media screen and (max-width: 400px) {
    .iui-hide-xxs {
        display: none!important;
    }
    .iui-show-xxs-block {
        display: block!important;
    }
    .iui-show-xxs-inline {
        display: inline!important;
    }
    .iui-show-xxs-inline-block {
        display: inline-block!important;
    }
}
/* 超小屏幕(手机) */

@media screen and (max-width: 768px) {
    .iui-container {
        width: 750px;
    }
    .iui-col-xs1,.iui-col-xs2,.iui-col-xs3,.iui-col-xs4,.iui-col-xs5,.iui-col-xs6,.iui-col-xs7,.iui-col-xs8,.iui-col-xs9,.iui-col-xs10,.iui-col-xs11,.iui-col-xs12 {
        float: left;
    }
    .iui-col-xs1 {
        width: 8.33333333%;
    }
    .iui-col-xs2 {
        width: 16.66666667%;
    }
    .iui-col-xs3 {
        width: 25%;
    }
    .iui-col-xs4 {
        width: 33.33333333%;
    }
    .iui-col-xs5 {
        width: 41.66666667%;
    }
    .iui-col-xs6 {
        width: 50%;
    }
    .iui-col-xs7 {
        width: 58.33333333%;
    }
    .iui-col-xs8 {
        width: 66.66666667%;
    }
    .iui-col-xs9 {
        width: 75%;
    }
    .iui-col-xs10 {
        width: 83.33333333%;
    }
    .iui-col-xs11 {
        width: 91.66666667%;
    }
    .iui-col-xs12 {
        width: 100%;
    }
    /* 列偏移 */
    .iui-col-xs-offset1 {
        margin-left: 8.33333333%;
    }
    .iui-col-xs-offset2 {
        margin-left: 16.66666667%;
    }
    .iui-col-xs-offset3 {
        margin-left: 25%;
    }
    .iui-col-xs-offset4 {
        margin-left: 33.33333333%;
    }
    .iui-col-xs-offset5 {
        margin-left: 41.66666667%;
    }
    .iui-col-xs-offset6 {
        margin-left: 50%;
    }
    .iui-col-xs-offset7 {
        margin-left: 58.33333333%;
    }
    .iui-col-xs-offset8 {
        margin-left: 66.66666667%;
    }
    .iui-col-xs-offset9 {
        margin-left: 75%;
    }
    .iui-col-xs-offset10 {
        margin-left: 83.33333333%;
    }
    .iui-col-xs-offset11 {
        margin-left: 91.66666667%;
    }
    .iui-col-xs-offset12 {
        margin-left: 100%;
    }
}


/* 小型屏幕(平板) */

@media screen and (min-width: 768px) {
    .iui-container {
        width: 750px;
    }
    .iui-hide-sm {
        display: none!important;
    }
    .iui-show-sm-block {
        display: block!important;
    }
    .iui-show-sm-inline {
        display: inline!important;
    }
    .iui-show-sm-inline-block {
        display: inline-block!important;
    }
    .iui-col-sm1,.iui-col-sm2,.iui-col-sm3,.iui-col-sm4,.iui-col-sm5,.iui-col-sm6,.iui-col-sm7,.iui-col-sm8,.iui-col-sm9,.iui-col-sm10,.iui-col-sm11,.iui-col-sm12 {
        float: left;
    }
    .iui-col-sm1 {
        width: 8.33333333%;
    }
    .iui-col-sm2 {
        width: 16.66666667%;
    }
    .iui-col-sm3 {
        width: 25%;
    }
    .iui-col-sm4 {
        width: 33.33333333%;
    }
    .iui-col-sm5 {
        width: 41.66666667%;
    }
    .iui-col-sm6 {
        width: 50%;
    }
    .iui-col-sm7 {
        width: 58.33333333%;
    }
    .iui-col-sm8 {
        width: 66.66666667%;
    }
    .iui-col-sm9 {
        width: 75%;
    }
    .iui-col-sm10 {
        width: 83.33333333%;
    }
    .iui-col-sm11 {
        width: 91.66666667%;
    }
    .iui-col-sm12 {
        width: 100%;
    }
    /* 列偏移 */
    .iui-col-sm-offset1 {
        margin-left: 8.33333333%;
    }
    .iui-col-sm-offset2 {
        margin-left: 16.66666667%;
    }
    .iui-col-sm-offset3 {
        margin-left: 25%;
    }
    .iui-col-sm-offset4 {
        margin-left: 33.33333333%;
    }
    .iui-col-sm-offset5 {
        margin-left: 41.66666667%;
    }
    .iui-col-sm-offset6 {
        margin-left: 50%;
    }
    .iui-col-sm-offset7 {
        margin-left: 58.33333333%;
    }
    .iui-col-sm-offset8 {
        margin-left: 66.66666667%;
    }
    .iui-col-sm-offset9 {
        margin-left: 75%;
    }
    .iui-col-sm-offset10 {
        margin-left: 83.33333333%;
    }
    .iui-col-sm-offset11 {
        margin-left: 91.66666667%;
    }
    .iui-col-sm-offset12 {
        margin-left: 100%;
    }
}


/* 中型屏幕(桌面) */

@media screen and (min-width: 992px) {
    .iui-container {
        width: 970px;
    }
    .iui-hide-md {
        display: none!important;
    }
    .iui-show-md-block {
        display: block!important;
    }
    .iui-show-md-inline {
        display: inline!important;
    }
    .iui-show-md-inline-block {
        display: inline-block!important;
    }
    .iui-col-md1,.iui-col-md2,.iui-col-md3,.iui-col-md4,.iui-col-md5,.iui-col-md6,.iui-col-md7,.iui-col-md8,.iui-col-md9,.iui-col-md10,.iui-col-md11,.iui-col-md12 {
        float: left;
    }
    .iui-col-md1 {
        width: 8.33333333%;
    }
    .iui-col-md2 {
        width: 16.66666667%;
    }
    .iui-col-md3 {
        width: 25%;
    }
    .iui-col-md4 {
        width: 33.33333333%;
    }
    .iui-col-md5 {
        width: 41.66666667%;
    }
    .iui-col-md6 {
        width: 50%;
    }
    .iui-col-md7 {
        width: 58.33333333%;
    }
    .iui-col-md8 {
        width: 66.66666667%;
    }
    .iui-col-md9 {
        width: 75%;
    }
    .iui-col-md10 {
        width: 83.33333333%;
    }
    .iui-col-md11 {
        width: 91.66666667%;
    }
    .iui-col-md12 {
        width: 100%;
    }
    /* 列偏移 */
    .iui-col-md-offset1 {
        margin-left: 8.33333333%;
    }
    .iui-col-md-offset2 {
        margin-left: 16.66666667%;
    }
    .iui-col-md-offset3 {
        margin-left: 25%;
    }
    .iui-col-md-offset4 {
        margin-left: 33.33333333%;
    }
    .iui-col-md-offset5 {
        margin-left: 41.66666667%;
    }
    .iui-col-md-offset6 {
        margin-left: 50%;
    }
    .iui-col-md-offset7 {
        margin-left: 58.33333333%;
    }
    .iui-col-md-offset8 {
        margin-left: 66.66666667%;
    }
    .iui-col-md-offset9 {
        margin-left: 75%;
    }
    .iui-col-md-offset10 {
        margin-left: 83.33333333%;
    }
    .iui-col-md-offset11 {
        margin-left: 91.66666667%;
    }
    .iui-col-md-offset12 {
        margin-left: 100%;
    }
}


/* 大型屏幕(桌面) */

@media screen and (min-width: 1200px) {
    .iui-container {
        width: 1170px;
    }
    .iui-hide-lg {
        display: none!important;
    }
    .iui-show-lg-block {
        display: block!important;
    }
    .iui-show-lg-inline {
        display: inline!important;
    }
    .iui-show-lg-inline-block {
        display: inline-block!important;
    }
    .iui-col-lg1,.iui-col-lg2,.iui-col-lg3,.iui-col-lg4,.iui-col-lg5,.iui-col-lg6,.iui-col-lg7,.iui-col-lg8,.iui-col-lg9,.iui-col-lg10,.iui-col-lg11,.iui-col-lg12 {
        float: left;
    }
    .iui-col-lg1 {
        width: 8.33333333%;
    }
    .iui-col-lg2 {
        width: 16.66666667%;
    }
    .iui-col-lg3 {
        width: 25%;
    }
    .iui-col-lg4 {
        width: 33.33333333%;
    }
    .iui-col-lg5 {
        width: 41.66666667%;
    }
    .iui-col-lg6 {
        width: 50%;
    }
    .iui-col-lg7 {
        width: 58.33333333%;
    }
    .iui-col-lg8 {
        width: 66.66666667%;
    }
    .iui-col-lg9 {
        width: 75%;
    }
    .iui-col-lg10 {
        width: 83.33333333%;
    }
    .iui-col-lg11 {
        width: 91.66666667%;
    }
    .iui-col-lg12 {
        width: 100%;
    }
    /* 列偏移 */
    .iui-col-lg-offset1 {
        margin-left: 8.33333333%;
    }
    .iui-col-lg-offset2 {
        margin-left: 16.66666667%;
    }
    .iui-col-lg-offset3 {
        margin-left: 25%;
    }
    .iui-col-lg-offset4 {
        margin-left: 33.33333333%;
    }
    .iui-col-lg-offset5 {
        margin-left: 41.66666667%;
    }
    .iui-col-lg-offset6 {
        margin-left: 50%;
    }
    .iui-col-lg-offset7 {
        margin-left: 58.33333333%;
    }
    .iui-col-lg-offset8 {
        margin-left: 66.66666667%;
    }
    .iui-col-lg-offset9 {
        margin-left: 75%;
    }
    .iui-col-lg-offset10 {
        margin-left: 83.33333333%;
    }
    .iui-col-lg-offset11 {
        margin-left: 91.66666667%;
    }
    .iui-col-lg-offset12 {
        margin-left: 100%;
    }
}


/* 列间隔 */

.iui-col-space1 {
    margin: -0.5px;
}

.iui-col-space1>* {
    padding: 0.5px;
}

.iui-col-space3 {
    margin: -1.5px;
}

.iui-col-space3>* {
    padding: 1.5px;
}

.iui-col-space5 {
    margin: -2.5px;
}

.iui-col-space5>* {
    padding: 2.5px;
}

.iui-col-space8 {
    margin: -3.5px;
}

.iui-col-space8>* {
    padding: 3.5px;
}

.iui-col-space10 {
    margin: -5px;
}

.iui-col-space10>* {
    padding: 5px;
}

.iui-col-space12 {
    margin: -6px;
}

.iui-col-space12>* {
    padding: 6px;
}

.iui-col-space15 {
    margin: -7.5px;
}

.iui-col-space15>* {
    padding: 7.5px;
}

.iui-col-space18 {
    margin: -9px;
}

.iui-col-space18>* {
    padding: 9px;
}

.iui-col-space20 {
    margin: -10px;
}

.iui-col-space20>* {
    padding: 10px;
}

.iui-col-space22 {
    margin: -11px;
}

.iui-col-space22>* {
    padding: 11px;
}

.iui-col-space25 {
    margin: -12.5px;
}

.iui-col-space25>* {
    padding: 12.5px;
}

.iui-col-space30 {
    margin: -15px;
}

.iui-col-space30>* {
    padding: 15px;
}
