<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>辅助</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */

</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space15">
    <div class="iui-col-md12">
      <div class="iui-card">
        <div class="iui-card-header">引用区块</div>
        <div class="iui-card-body">
          <blockquote class="iui-elem-quote">这个貌似不用多介绍，因为你已经在太多的地方都看到</blockquote>
          
          <blockquote class="iui-elem-quote iui-quote-nm">
            猿强，则国强。国强，则猿更强！ 
            <br>——孟子（好囖。。其实这特喵的是我说的）
          </blockquote>
        </div>
      </div>
      <div class="iui-card">
        <div class="iui-card-header">字段集区块</div>
        <div class="iui-card-body">
          
          <fieldset class="iui-elem-field">
            <legend>爱好</legend>
            <div class="iui-field-box">
              你可以在这里放任何内容，比如表单神马的
            </div>
          </fieldset>
          
          <br>
          
          <fieldset class="iui-elem-field iui-field-title">
            <legend>带标题的横线</legend>
          </fieldset>
          
        </div>
      </div>
      <div class="iui-card">
        <div class="iui-card-header">分割线</div>
        <div class="iui-card-body">
          
          默认分割线
          <hr>
           
          赤色分割线
          <hr class="iui-bg-red">
           
          橙色分割线
          <hr class="iui-bg-orange">
           
          墨绿分割线
          <hr class="iui-bg-green">
           
          青色分割线
          <hr class="iui-bg-cyan">
           
          蓝色分割线
          <hr class="iui-bg-blue">
           
          黑色分割线
          <hr class="iui-bg-black">
           
          灰色分割线
          <hr class="iui-bg-gray">
          
        </div>
      </div>
      <div class="iui-card">
        <div class="iui-card-header">纯圆角</div>
        <div class="iui-card-body">
          
          <div class="iui-inline">
            <img src="http://cdn.iui.com/avatar/168.jpg?t=1490352249902" class="iui-circle">
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>