<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>徽章</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */

</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space15">
    <div class="iui-col-md12">
      <div class="iui-card">
        <div class="iui-card-header">小徽章大家族</div>
        <div class="iui-card-body">
          
          <br>小圆点：
          
          <span class="iui-badge-dot"></span>
          <span class="iui-badge-dot iui-bg-orange"></span>
          <span class="iui-badge-dot iui-bg-green"></span>
          <span class="iui-badge-dot iui-bg-cyan"></span>
          <span class="iui-badge-dot iui-bg-blue"></span>
          <span class="iui-badge-dot iui-bg-black"></span>
          <span class="iui-badge-dot iui-bg-gray"></span>
          
          <br><br>常规弧形徽章：
          
          <span class="iui-badge">6</span>
          <span class="iui-badge">99</span>
          <span class="iui-badge">61728</span>
          <span class="iui-badge">赤</span>
          <span class="iui-badge iui-bg-orange">橙</span>
          <span class="iui-badge iui-bg-green">绿</span>
          <span class="iui-badge iui-bg-cyan">青</span>
          <span class="iui-badge iui-bg-blue">蓝</span>
          <span class="iui-badge iui-bg-black">黑</span>
          <span class="iui-badge iui-bg-gray">灰</span>
          
          <br><br>边框徽章：
          
          <span class="iui-badge-rim">6</span>
          <span class="iui-badge-rim">Hot</span>
          
          <br><br>
        
        </div>
      </div>
    </div>
    <div class="iui-col-md12">
      <div class="iui-card">
        <div class="iui-card-header">与其它元素的搭配</div>
        <div class="iui-card-body">
          
          <br>
          
          <button class="iui-btn">查看消息<span class="iui-badge iui-bg-gray">1</span></button>
          <button class="iui-btn">动态<span class="iui-badge-dot iui-bg-orange"></span></button>
           
          <br><br>
           
          <ul class="iui-nav style=" text-align:="" right;"=""> &lt;-- 小Tips：这里有没有发现，设置导航靠右对齐（或居中对齐）其实非常简单 --&gt;
            <li class="iui-nav-item">
              <a href="">控制台<span class="iui-badge">9</span></a>
            </li>
            <li class="iui-nav-item">
              <a href="">个人中心<span class="iui-badge-dot"></span></a>
            </li>
          <span class="iui-nav-bar"></span></ul>
          <br>
           
          <div class="iui-tab iui-tab-brief">
            <ul class="iui-tab-title">
              <li class="iui-this">网站设置</li>
              <li>用户管理<span class="iui-badge-dot"></span></li>
              <li>最新邮件<span class="iui-badge">99+</span></li>
            </ul>
            <div class="iui-tab-content"></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>