<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>导航</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */
.iui-nav-tree {vertical-align: top;}
</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space15">
    <div class="iui-col-md6">
      <div class="iui-card">
        <div class="iui-card-header">水平导航菜单</div>
        <div class="iui-card-body">
          <ul class="iui-nav" lay-filter="component-nav">
            <li class="iui-nav-item" style=""><a href="javascript:;">最新活动</a></li>
            <li class="iui-nav-item iui-this">
              <a href="javascript:;">产品<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">选项1</a></dd>
                <dd><a href="javascript:;">选项2</a></dd>
                <dd><a href="javascript:;">选项3</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item"><a href="javascript:;">大数据</a></li>
            <li class="iui-nav-item">
              <a href="javascript:;">解决方案<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd class="iui-this"><a href="javascript:;">选中项</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item" style=""><a href="javascript:;">社区</a></li>
          <span class="iui-nav-bar" style="left: 362px; top: 55px; width: 0px; opacity: 0;"></span></ul>
        </div>
      </div>
      <div class="iui-card">
        <div class="iui-card-header">导航带徽章和图片</div>
        <div class="iui-card-body">
          <ul class="iui-nav" lay-filter="component-nav">
            <li class="iui-nav-item" style="">
              <a href="javascript:;">控制台<span class="iui-badge">9</span></a>
            </li>
            <li class="iui-nav-item" style="">
              <a href="javascript:;">个人中心<span class="iui-badge-dot"></span></a>
            </li>
            <li class="iui-nav-item" lay-unselect="">
              <a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="iui-nav-img">我<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
              </dl>
            </li>
          <span class="iui-nav-bar" style="left: 142.983px; top: 55px; width: 0px; opacity: 0;"></span></ul>
        </div>
      </div>
      <div class="iui-card">
        <div class="iui-card-header">导航主题</div>
        <div class="iui-card-body">
          <ul class="iui-nav iui-bg-cyan" lay-filter="component-nav">
            <li class="iui-nav-item"><a href="javascript:;">藏青导航</a></li>
            <li class="iui-nav-item iui-this"><a href="javascript:;">产品</a></li>
            <li class="iui-nav-item" style=""><a href="javascript:;">大数据</a></li>
            <li class="iui-nav-item">
              <a href="javascript:;">解决方案<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item"><a href="javascript:;">社区</a></li>
          <span class="iui-nav-bar" style="left: 225px; top: 55px; width: 0px; opacity: 0;"></span></ul>
          <br>
          <ul class="iui-nav iui-bg-green" lay-filter="component-nav">
            <li class="iui-nav-item"><a href="javascript:;">墨绿导航</a></li>
            <li class="iui-nav-item iui-this"><a href="javascript:;">产品</a></li>
            <li class="iui-nav-item"><a href="javascript:;">大数据</a></li>
            <li class="iui-nav-item">
              <a href="javascript:;">解决方案<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item"><a href="javascript:;">社区</a></li>
          <span class="iui-nav-bar"></span></ul>
          <br>
          <ul class="iui-nav iui-bg-blue" lay-filter="component-nav">
            <li class="iui-nav-item"><a href="javascript:;">艳蓝导航</a></li>
            <li class="iui-nav-item iui-this"><a href="javascript:;">产品</a></li>
            <li class="iui-nav-item"><a href="javascript:;">大数据</a></li>
            <li class="iui-nav-item">
              <a href="javascript:;">解决方案<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item"><a href="javascript:;">社区</a></li>
          <span class="iui-nav-bar"></span></ul> 
        </div>
      </div>
    </div>
    
    <div class="iui-col-md6">
      <div class="iui-card">
        <div class="iui-card-header">垂直导航菜单</div>
        <div class="iui-card-body">
          <ul class="iui-nav iui-nav-tree iui-inline" lay-filter="component-nav-active" style="margin-right: 10px;">
            <li class="iui-nav-item iui-nav-itemed" style="">
              <a href="javascript:;">默认展开<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">选项一</a></dd>
                <dd><a href="javascript:;">选项二</a></dd>
                <dd><a href="javascript:;">选项三</a></dd>
                <dd><a href="javascript:;">跳转项</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item">
              <a href="javascript:;">解决方案<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item"><a href="javascript:;">云市场</a></li>
            <li class="iui-nav-item"><a href="javascript:;">社区</a></li>
          <span class="iui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span></ul>
          <ul class="iui-nav iui-nav-tree iui-bg-cyan iui-inline" lay-filter="component-nav-active">
            <li class="iui-nav-item iui-nav-itemed">
              <a href="javascript:;">默认展开<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">选项一</a></dd>
                <dd><a href="javascript:;">选项二</a></dd>
                <dd><a href="javascript:;">选项三</a></dd>
                <dd><a href="http://www.iui.com/admin/" target="_blank">跳转项</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item">
              <a href="javascript:;">解决方案<span class="iui-nav-more"></span></a>
              <dl class="iui-nav-child">
                <dd><a href="javascript:;">移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
              </dl>
            </li>
            <li class="iui-nav-item"><a href="javascript:;">云市场</a></li>
            <li class="iui-nav-item"><a href="javascript:;">社区</a></li>
          <span class="iui-nav-bar"></span></ul>
        </div>
      </div>
      <div class="iui-card">
        <div class="iui-card-header">面包屑</div>
        <div class="iui-card-body">
          <span class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="javascript:;">首页</a><span lay-separator="">/</span>
            <a href="javascript:;">演示</a><span lay-separator="">/</span>
            <a><cite>导航元素</cite></a>
          </span>
          <br>
          <span class="iui-breadcrumb" lay-separator="-" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="javascript:;">首页</a><span lay-separator="">-</span>
            <a href="javascript:;">演示</a><span lay-separator="">-</span>
            <a><cite>导航元素</cite></a>
          </span>
          <br>
          <span class="iui-breadcrumb" lay-separator="\" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="javascript:;">首页</a><span lay-separator="">\</span>
            <a href="javascript:;">演示</a><span lay-separator="">\</span>
            <a><cite>导航元素</cite></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>