<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>栅格</cite></a><span lay-separator="">/</span>
    <a><cite>全端复杂组合</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */
.iui-card-body{display: flex; justify-content: center; flex-direction: column; text-align: center; height: 200px;}
</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space10">
    <div class="iui-col-xs6 iui-col-sm7 iui-col-md3">
      <!-- 填充内容 -->
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body">改变浏览器尺寸，演示效果</div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm5 iui-col-md3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm5 iui-col-md3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm7 iui-col-md3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm7 iui-col-md9">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm5 iui-col-md3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm5 iui-col-md3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs6 iui-col-sm7 iui-col-md9">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
  </div>
</div>
</div>