<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>栅格</cite></a><span lay-separator="">/</span>
    <a><cite>等比例列表排列</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */
.demo-list .iui-card{height: 267px;}
</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space10 demo-list">
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <!-- 填充内容 -->
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">  
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
    <div class="iui-col-sm4 iui-col-md3 iui-col-lg2">
      <div class="iui-card">
        
      </div>
    </div>
  </div>
</div>
</div>