<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>栅格</cite></a><span lay-separator="">/</span>
    <a><cite>按移动端排列</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */
.iui-card-body{display: flex; justify-content: center; flex-direction: column; text-align: center; height: 200px;}
</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space10">
    <div class="iui-col-xs6">
      <!-- 填充内容 -->
      <div class="iui-card">
        <div class="iui-card-header">杜甫</div>
        <div class="iui-card-body">"我很忙"</div>
      </div>
    </div>
    <div class="iui-col-xs6">
      <div class="iui-card">
        <div class="iui-card-header">鲁迅</div>
        <div class="iui-card-body">"我什么都没说过"</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body">1/3</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs4">
     <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
  </div>
  <div class="iui-row iui-col-space10">
    <div class="iui-col-xs3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body">1/4</div>
      </div>
    </div>
    <div class="iui-col-xs3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs3">
     <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs3">
     <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
    <div class="iui-col-xs3">
      <div class="iui-card">
        <div class="iui-card-header"></div>
        <div class="iui-card-body"></div>
      </div>
    </div>
  </div>
</div>

</script></div>