<div>
<div class="iui-card layadmin-header">
  <div class="iui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>组件</cite></a><span lay-separator="">/</span>
    <a><cite>栅格</cite></a><span lay-separator="">/</span>
    <a><cite>九宫格</cite></a>
  </div>
</div>

<style>
/* 这段样式只是用于演示 */
.iui-card-body{display: flex; justify-content: center; flex-direction: column; text-align: center; font-size: 20px;}
.iui-card-body:hover{background-color: #FAFAFA;}
</style>

<div class="iui-fluid">
  <div class="iui-row iui-col-space1">
    <div class="iui-col-xs4">
      <!-- 填充内容 -->
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">1</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">2</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">3</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">4</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">5</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">6</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">7</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">8</div>
      </div>
    </div>
    <div class="iui-col-xs4">
      <div class="iui-card">
        <div class="iui-card-body" style="height: 366px;">9</div>
      </div>
    </div>
  </div>
</div>

</div>